@page "/Verdura"
@page "/Verdura/{VerduraId:int}"

@inject VerduraBLL VerduraBLL
@inject VitaminasBLL VitaminasBLL



<EditForm Model="verdura" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card-header">
        <h3>Registro de Verduras</h3>
    </div>
    <div class="card-body">

        <div class="row justify-content-between">

             <div class="form-r ow align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label>VerduraId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="verdura.VerduraId" class="form-control col-4" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text"
                                    @onclick="Buscar">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <label>Fecha Creacion</label>
                <input type="date" class="form-control" @bind-value="verdura.FechaCreacion"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>

        <label>Nombre de la Verdura</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" @bind-value="verdura.Nombre" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg">
        </div>
    </div>

    <fieldset class="border-success">
        <div class="card-body">
            <div class="row">

                <div class="col-2">
                    <label>Vitaminas</label>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <select class="form-select" @bind="detalle.VitaminaId" aria-label=".form-select-lg example">
                            <option selected>Seleccione</option>
                            @foreach (var vitamina in VitaminaList)
                            {
                                <option value="@vitamina.VitaminaId"> @vitamina.Nombre</option>
                            }
                        </select>
                    </div>
                </div>
                @* Cantidad *@
                <div class="col-2">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" @bind-value="detalle.Cantidad"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                @*Boton de agregar detalle*@
                <div class="col-2">
                    <button type="button" class="btn btn-lg btn-success bi bi-file-earmark"
                        @onclick="AgregarDetalle">
                        <span class="oi oi-plus">Agregar</span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>


    @* Tabla de detalles *@
    <hr />
    <table class="table table-bordered table-light">
        <thead class="thead">
            <tr class="table">
                <th>VitaminaId</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in verdura.Detalle)
            {
                        <tr>
                        <td>@item.VitaminaId</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Descripcion</td>
                        </tr>
            }
        </tbody>
    </table>
    <hr />
    @*Observacion de las verduras*@
    <div class="form-floating">
        <textarea type="text" class="form-control" @bind="verdura.Observacion" placeholder="Leave a comment here"
            id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Observacion de las Verduras</label>
    </div>
    <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary bi bi-file-earmark-plus" @onclick="Nuevo"> Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success bi bi-file-earmark"> Guardar</button>
                <button  type="button" class="btn btn-lg btn-danger bi bi-trash"  @onclick="Eliminar" > Eliminar</button> 
            </div>
        </div>
</EditForm>
@code {
    [Parameter]
    public int VerduraId { get; set; }
    public Verduras verdura { get; set; } = new Verduras();
    public VerdurasDetalle detalle { get; set; } = new VerdurasDetalle();
    public List<Vitaminas> VitaminaList { get; set; } = new List<Vitaminas>();

    protected override void OnInitialized()
    {
        VitaminaList = VitaminasBLL.GetList(p => true);
        verdura.VerduraId = 0;
        verdura.FechaCreacion = DateTime.Now;

        if (VerduraId > 0)
        {
            verdura.VerduraId = VerduraId;
            Buscar();
        }
    }
    private void Buscar()
    {
        if (verdura.VerduraId > 0)
        {
            var encontrado = VerduraBLL.Buscar(verdura.VerduraId);

            if (encontrado != null)
                this.verdura = encontrado;
        }
    }
    public void Nuevo()
    {
        verdura = new Verduras();

    }
    public void Guardar()
    {
        bool guardo = VerduraBLL.Guardar(verdura);
        if (guardo)
        {
            Nuevo();
        }


    }

    public void AgregarDetalle()
    {
        var vitamina = VitaminasBLL.Buscar(detalle.VitaminaId);

        this.verdura.Detalle.Add(this.detalle);
        this.detalle = new VerdurasDetalle();
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = VerduraBLL.Eliminar(verdura);

        if (elimino)
        {
            Nuevo();

        }
    }
    public void RemoverFila(VerdurasDetalle item)
    {
        verdura.Detalle.Remove(item);
    }

}